.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
background-color: aqua;
border-width: 10px;
border-style: ridge;  
}

